Q1. List any five functions of the pandas library with execution.

read_csv : used to read the data from the csv file
head() : it returns the top 6 rows in the data
describe() : it gives the basic statistics of the data
info() : it returns the information of the data
to_csv() : it returns the data in the csv format into the specified file

In [8]:
import pandas as pd
data = pd.read_csv('services.csv')

In [2]:
data.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [3]:
data.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              21 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

In [5]:
data.to_csv('data.csv',index = False)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [25]:
data = {
        'A' : [1,2,3],
        'B' : [4,5,6],
        'C' : [7,8,9]    
       }

df = pd.DataFrame(data)

def reindex_dataframe(df):
    df.reset_index(drop = True , inplace = True)
    df.index = df.index * 2 + 1
    return df

new_data = reindex_dataframe(df)

In [26]:
new_data.head()

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [82]:
data = {
    'Values' : [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

In [83]:
def calculate_sum(df):
    total_sum = 0
    count = 0
    
    for index, row in df.iterrows():         # Here in index the indexes are stored and in row values are stored
        value = row['Values']
        total_sum += value
        count += 1
        
        if count == 3:
            break
    
    print("Sum of the first three values:", total_sum)
calculate_sum(df)

Sum of the first three values: 60

In [34]:
def calculate_sum(df):
    sum_of_first_three = df['Values'].head(3).sum()
    print("Sum of the first three values:", sum_of_first_three)
calculate_sum(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [52]:
data = { 'Text' : ['Apple','Banana','Carrot','Donkey Elephant'] }
df = pd.DataFrame(data)

In [53]:
#Ex:
a = lambda x: len(x.split())
print(a("Helloo"))

1

In [54]:
 def new_col():
        df['Word_Count'] = df['Text'].apply(lambda x:len(x.split()))

In [55]:
df

              Text
0            Apple
1           Banana
2           Carrot
3  Donkey Elephant

In [56]:
new_col()
df

              Text  Word_Count
0            Apple           1
1           Banana           1
2           Carrot           1
3  Donkey Elephant           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [59]:
df.size

8

df.shape

The DataFrame.size() and DataFrame.shape() methods in pandas provide different information about the DataFrame:

DataFrame.size() returns the total number of elements in the DataFrame. It calculates the size by multiplying the number of rows (DataFrame.shape[0]) with the number of columns (DataFrame.shape[1]). The result is the total count of elements in the DataFrame, including all the cells.

DataFrame.shape() returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns. It provides the shape or structure of the DataFrame in terms of its dimensions.

To summarize:

DataFrame.size() returns the total count of elements in the DataFrame.
DataFrame.shape() returns a tuple of the DataFrame's dimensions, specifying the number of rows and columns.

Q6. Which function of pandas do we use to read an excel file?

We use read_csv() function to read an csv file

In [61]:
data = pd.read_csv('services.csv')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [62]:
data = {
    'Email' : ['gowtham@gmail.com','mythili@gmail.com','pwskills@gmail.com']
}
df = pd.DataFrame(data)

In [66]:
def username(df):
    df['Username'] = df['Email'].apply(lambda x : (x.split('@'))[0])
username(df)
df

                Email  Username
0   gowtham@gmail.com   gowtham
1   mythili@gmail.com   mythili
2  pwskills@gmail.com  pwskills

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [107]:
(df['A'] > 5) & (df['B'] < 10)

0    False
1     True
2     True
3    False
4     True
dtype: bool

In [108]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [113]:
data = {
    'Values' : [1,2,3,4,55,6,7,8]
}
df = pd.DataFrame(data)
def stats():
    print("Mean is ",df.mean())
    print("Median is ",df.median())
    print("Standard Deviation is ",df.std())
stats()

Mean is  Values    10.75
dtype: float64
Median is  Values    5.0
dtype: float64
Standard Deviation is  Values    18.045577
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [6]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08'],
    'Sales': [10, 15, 20, 25, 30, 35, 40, 45]
}

df = pd.DataFrame(data)
df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     10           10.0
1  2023-01-02     15           12.5
2  2023-01-03     20           15.0
3  2023-01-04     25           17.5
4  2023-01-05     30           20.0
5  2023-01-06     35           22.5
6  2023-01-07     40           25.0
7  2023-01-08     45           30.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [17]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Example usage:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
print(df)
print('<----------------------------->')
df = add_weekday_column(df)
print(df)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
<----------------------------->
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [19]:
import pandas as pd

def select_rows(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Example usage:
data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
select_rows(df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

 The first and foremost library that needs to be imported to use the basic functions of pandas is the pandas library itself. The standard convention is to import it using the abbreviation pd, as shown in the examples above. By importing pandas, you gain access to various data manipulation and analysis functionalities provided by the library, allowing you to work with DataFrames and Series efficiently.