Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It can be thought of as a table or spreadsheet with rows and columns. Each column in a DataFrame is a Series. A Series, on the other hand, is a one-dimensional labeled array capable of holding any data type.

The main difference between a DataFrame and a Series is that a DataFrame can hold multiple columns, while a Series represents a single column of data.

In [11]:
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42], name='Numbers')
print(series)

data = {
        'Numbers': [4, 8, 15, 16, 23, 42],
        'Alphabets' : ['A','B','C','D','E','F']
       }
df = pd.DataFrame(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
Name: Numbers, dtype: int64
   Numbers Alphabets
0        4         A
1        8         B
2       15         C
3       16         D
4       23         E
5       42         F

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:

head() - Returns the first n rows of the DataFrame.
tail() - Returns the last n rows of the DataFrame.
describe() - Generates descriptive statistics of the DataFrame.
drop() - Drops specified rows or columns from the DataFrame.
sort_values() - Sorts the DataFrame by specified column(s).
groupby() - Groups the DataFrame by one or more columns.
merge() - Merges two DataFrames based on a common column.
pivot_table() - Creates a pivot table from the DataFrame.

In [20]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35, 28, 32, 37],
    'Country': ['USA', 'Canada', 'UK', 'USA', 'Canada', 'UK']
}

df = pd.DataFrame(data)

# Print the first 3 rows
print(df.head(3))
print('<---------------------->')
# Sort the DataFrame by Age in descending order
sorted_df = df.sort_values('Age')
print(sorted_df)
print('<---------------------->')

# Group the DataFrame by Country and calculate the mean age
grouped_df = df.groupby('Country')['Age'].mean()
print(grouped_df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK
<---------------------->
      Name  Age Country
0    Alice   25     USA
3    Alice   28     USA
1      Bob   30  Canada
4      Bob   32  Canada
2  Charlie   35      UK
5  Charlie   37      UK
<---------------------->
Country
Canada    31.0
UK        36.0
USA       26.5
Name: Age, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, only Series and DataFrame are mutable in nature. Panel, which was a 3-dimensional data structure in older versions of pandas, has been deprecated.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
country_series = pd.Series(['USA', 'Canada', 'UK'])

df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Country': country_series
})

print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK